aext-assistant==4.1.0
aext-core==4.1.0
aext-panels==4.1.0
aext-toolbox==4.1.0
anaconda-anon-usage==0.4.4
anaconda-catalogs==0.2.0
anaconda-navigator==2.6.3
anaconda-project==0.11.1
appdirs==1.4.4
astropy==6.1.3
autopep8==2.0.4
bcrypt==3.2.0
Bottleneck==1.3.7
Brotli==1.0.9
colorama==0.4.6
conda-build==24.9.0
conda-repo-cli==1.0.114
conda-token==0.5.0+1.g2209e04
cytoolz==0.12.2
dask-expr==1.1.13
datashader==0.16.3
distributed==2024.8.2
dmglib==0.9.5
flake8==7.0.0
Flask==3.0.3
gensim==4.3.3
graphviz==0.20.3
greenlet==3.0.1
h5py==3.11.0
HeapDict==1.0.1
hvplot==0.11.0
imagecodecs==2023.1.23
imbalanced-learn==0.12.3
jupyter==1.0.0
lckr_jupyterlab_variableinspector==3.1.0
lmdb==1.4.1
lz4==4.3.2
mypy==1.11.2
navigator-updater==0.5.1
nb_conda_kernels==2.5.2
nltk==3.9.1
openpyxl==3.1.5
pip==24.2
pipreqs==0.5.0
plotly==5.24.1
pycurl==7.45.3
pydocstyle==6.3.0
pydotplus==2.0.2
pyodbc==5.1.0
PySocks==1.7.1
pytest==7.4.4
PyWavelets==1.7.0
rope==1.12.0
ruamel-yaml-conda==0.17.21
s3fs==2024.6.1
scikit-image==0.24.0
Scrapy==2.11.1
seaborn==0.13.2
shellingham==1.5.0
sip==6.7.12
spyder==5.5.1
statsmodels==0.14.2
streamlit==1.37.1
sympy==1.13.2
tables==3.10.1
unicodedata2==15.1.0
Unidecode==1.3.8
whatthepatch==1.0.2
wheel==0.44.0
xgboost==3.0.2
xlwings==0.32.1
yapf==0.40.2
